
/* .CalendarDay__selected_span {
  background: #82e0aa;
  color: white;
  border: 1px solid var(--brand_color);
}


.CalendarDay__selected {
  background: rgb(17, 82, 106);
  color: white;
}

.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
} */