.flat-booking-item{
    position: relative;
    height: 13rem;
    display: flex;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

#BCD-guests,
#BCD-price {
    display: flex;
}


#BCD-guests p,
#BCD-price p {
    line-height: 1.25rem;
    font-size: 1rem;
    margin-right: 1rem;
}
