.obi-wrap{
    min-width: 30%;
    /* height: 8rem; */
    margin: 1rem  0 1rem 1rem;
    /* border-radius: 1rem; */
    /* border: 1px solid black; */
}
.obi-details{
    display: flex;
    background-color: white;
    align-items: center;
}


/* ! LHS image */

.obi-image {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    /* padding-right: 1rem; */
    border-radius: 0.5rem;
}


/* ! RHS DDETAIls */

.obi-left {
    margin-left: 1rem;
}

.obi-left p {
    font-family: 'airbnb4';
    font-size: 0.75rem;
    margin: 0.5rem 0;
}

#obi-place {
    font-size: 1rem;
    font-family: 'airbnb5';
}

.booking-details .BDD-date,
.booking-details .BDD-address {
    font-size: 1rem;
}

.booking-details .BDD-address {
    line-height: 1.25rem;
}


.booking-item-spacer {
    height: 1px;
    background-color: #cccc;
    margin: 1rem 0;
}

.booking-details-dates {
    display: flex;
}

.BDD-left { 
    min-width: 20%;
    padding-right: 1rem;
    border-right: #cccc 1px solid;
}

.BDD-right {
    padding-left: 1rem;
}

