.full-screen-map-container {
    /* position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    height: calc(100vh - 80px);
    width: 100%;
    /* position: fixed; */
    background-color: #cccc;
    /* background-color: orange; */
}

