/*! CSS FOR EVERY FORM (SHELL, HEADER, BUTTONS ETC)  */

.register-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 25%);
    z-index: 16;
}

.register-modal {
    position: fixed;
    width: 550px;
    bottom: 0;
    opacity: 0;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    left: calc(50vw - 275px);
    background-color: white;
    z-index: 20;
    border-radius: 20px;
}
  
.register-modal.show {
    bottom: 30vh;
    opacity: 1;
}

.modal-header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 1px solid var(--light_grey);
}

#close-button {
    position: absolute;
    left: 25px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    background-color: white;
    /* background-color: var(--light_light_light_grey); */
    display: flex;
    justify-content: center;
    align-items: center;
}
#close-button:hover {
    background-color: var(--light_light_light_grey);
}

#close-button:active { 
    transform: scale(0.8);
}

#close-button img {
    width: 12px;
    height: 12px;
}

.title-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.body {
    padding: 25px;
}

.modal-container button {
    width: 500px;
    height: 47.5px;
    display: flex;
    align-items: center;
    margin: 20px 0px;
    background-color: white;
    border: var(--dark_grey) 1px solid;
    border-radius: 10px;
    color: var(--dark_grey);
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.modal-container input {
    padding: 0px;
    padding-left: 16px;
    width: calc(100% - 18px);
    height: 47.5px;
    display: flex;
    align-items: center;
    margin: 20px 0px;
    background-color: white;
    border: var(--dark_grey) 1px solid;
    border-radius: 10px;
    color: var(--dark_grey);
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.modal-container input:focus {
    outline: none;
}

.title-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-container button:hover{
    cursor: pointer;
}

#navigate-register-button {
    border: none;
    margin-left: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    font-size: 28px;
}

#navigate-register-button:hover {
    background-color: rgba(0,0,0,0.1);
}

.use-another-acc {
    display: flex;
    font-family: 'airbnb2';
}

.use-another-acc:first-child{
    margin-right: 1rem;
}

/* !warning message */

.warning-message-space {
    height: 1rem;
    margin: 1rem 0;
}