.nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: var(--light_light_grey) solid 1px;
    background-color: white;
    z-index: 15;
}

.nav-bar.s-mode {
    border: none;
}

.upper-nav-bar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-logo {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
}

.left-logo:hover {
    cursor: pointer
}

#logo {
    height: 32px;
}

.middle-search {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-menu {
    position: absolute;
    /* right: var(--margin); */
}

.tag-bar {
    height: 80px;
    width: 100%;
}
