.bar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: var(--light_light_grey) solid 1px;
}

.bar.s-mode {
    border: none;
}


.innerBar {
    position: absolute;
    left: var(--margin);
    right: var(--margin);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    width: calc(100%/3);
    height: 40px;
}

.left {
    display: flex;
    justify-content: left;
    align-items: center;
    /* height:  */
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;
}

#logo {
    height: 32px;
}

.search-bar { /* fix this!! */
    background: none;
    width: 350px;
    height: 45px;
    border: var(--light_grey) solid 1px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.search-filters{
    height: 27.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-filters .bold {
    border-right: #dddddd solid 1px;
}

.search-filters div {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 17.5px;
    /* background-color: aqua; */
}

.search-filters div p {
    font-size: 14px;
    /* background-color: greenyellow; */
}

.bold {
    font-family: 'airbnb2', sans-serif;
    font-weight: bold;
}

#guests {
    /* background-color: antiquewhite; */
    padding-right: 0px;
    font-family: 'airbnb4', sans-serif;
}

.s-button {
    height: 30px;
    width: 30px;
    margin: 7.5px;
    border-radius: 50%;
    background-color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-button img {
    height: 40%;
    width: 40%;
}


.register {
    background-color: white;
    width: 75px;
    height: 100%;
    border: #dddddd solid 1px;
    border-radius: 25px;
    display: flex;
}

.register:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.menu, .account {
    height: calc(100%-5px);
    width: calc(50%-2.5px);
    padding: 5px;
}
/* .account {
    width: 100%;
} */
.account img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.menu {
    /* background-color: aqua; */
    /* border: 1px solid; */
    width: 100%
}

.menu .more {
    height: 100%;
    width: calc(50%-10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more div {
    width: 14px;
    height: 1.5px;
    margin: 1px;
    background-color: black;
}