.account-button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
#account-button {
    padding: 0 3px;
}
.account-button {
    height: 40px;
    width: 75px;
    border: var(--light_grey) solid 1px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.list, .profile-icon {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
}


#default-profile, .profile-icon img {
    color: var(--dark_grey);
    font-size: 60px;
    height: 30px;
    border-radius: 50%;
}

.menu-list{
    font-size: 18px;
    color: var(--dark_grey);
}

