.account-show-page{
    margin: 0px var(--show_margin);
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    
}

.account-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.sticky-container{
    position: sticky;
    top: 5rem;
    flex-direction: column;
    margin: 4rem 0;
}

.account-right {
    width: 60%;
    margin-left: 1rem;
}


.trips-header {
    font-size: 30px;
}


/* !modals */

.modify-title, 
.cancel-title {
    position: relative;
    display: flex;
}

.modify-cancel.header-1 {
    position: absolute;
    width: 100%;
    text-align: center;
    /* right: 50%;
    transform: translateX(50%); */
}


/* ! personal info */

.info-block {
    display: flex;
    justify-content: space-between;
}

.pi-header{
    font-family: 'airbnb5';
    font-size: 2rem;
    margin: 2rem 0;
}

.personal-info{
    font-family: 'airbnb2';
}

.ibhd-hed {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.pi-spacer {
    height: 1px;
    background-color: #cccc;
    margin: 2rem 0;
}

.ibhde {
    font-family: 'airbnb5';
    text-decoration: underline;
}

.ibhde:hover {
    cursor: pointer;
}


/* ! tool tip trial */

.tooltip-wrapper {
    position: relative;
}

.tooltip {
    display: none;

    width: 7.5rem;

    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-80%) translateY(-0.5rem);
    
    background-color: #333;
    
    color: white;
    
    padding: 0.5rem;
    border-radius: 0.5rem;

    font-family: 'airbnb4';
    font-size: 1rem;
    z-index: 100;
}

.tooltip-wrapper:hover .tooltip {
    display: block;
}


/* ! old bookings */

.past-reservations-lower {
    margin-left: var(--show_margin);
    margin-right: var(--show_margin);
    margin-bottom: 2.5rem;
}

.obi-items-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* ! cancel button decisions */

.cancel-booking-decisions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cancel-booking-decisions button {
    width: 40%;
}

