.account-show-page{
    margin: 0px var(--show_margin);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.account-left {
    width: 40%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.account-right {
    width: 60%;
    border: 1px solid black;
    margin-right: 1rem;
}


.trips-header {
    font-size: 30px;
}

.booking-upcoming{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
}