/* TODO Add site wide styles */
@import url('https://fonts.cdnfonts.com/css/c-cereal');
@import './reset.css';

:root {
    --brand-color: #fe385c;
    --grid_columns: 1;
    --margin: 22.5px;
    --light_light_light_grey: #f7f7f7; 
    --light_light_grey: #EBEBEB; 
    --light_grey: #dddddd;
    --dark_grey: #222222;
    --grid_spacing: 20px;
    --button_hit: cubic-bezier(0.2,0,0,1);
    --show_margin: 0px;
    --show_width: calc(100vw - 2*(var(--show_margin)));
    --shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    --strong_shadow: rgba(0, 0, 0, 0.22) 0px 6px 16px;
    --coal: #282424
}

/* ! GRID DIMENSION */
@media (min-width: 1px) {
    :root {
        --total_margin: calc(2 * var(--margin));
        --total_grid_gap: calc(var(--grid_spacing) * (var(--grid_columns) - 1));
        --total_empty_gid_space: calc(var(--total_grid_gap) + var(--total_margin));
        --used_grid_space: calc(100vw - var(--total_empty_gid_space));
        --img_dim: calc(var(--used_grid_space) / var(--grid_columns));
        /* --img_height: var(--img_dim) * 43 / 45; */
      }

}

/* ! PAGE MARGINS */

@media (min-width: 550px) {
    :root {
      --grid_columns: 2;
    }
}

@media (min-width: 745px) {
    :root {
        --margin: 40px;
        --show_margin: 40px;
    }
}
/* try using rem or % */
@media (min-width: 950px) {
    :root {
      --grid_columns: 3;
    }
}

@media (min-width: 1130px) {
    :root {
      --grid_columns: 4;
      --show_margin: 80px;
    }
}

@media (min-width: 1285px){
    :root {
        --show_width: 1135px;
        --show_margin: calc((100vw - var(--show_width)) / 2);
    }
}

@media (min-width: 1440px) {
    :root {
        --margin: 80px;
    }
}
  
@media (min-width: 1640px) {
:root {
    --grid_columns: 5;
}
}
  
@media (min-width: 1880px) {
:root {
    --grid_columns: 6;
}
}


/* ! FONTS */

/* !airbnb1  => */
/* !airbnb2  => */
/* !airbnb3  => */
/* !airbnb4  => */
/* !airbnb5  => */
/* !airbnb6  => */


@font-face {    
    font-family: 'airbnb1';
    src: url('./assets/airbnb-cereal-font/AirbnbCereal_W_Bd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnb2';
    src: url('./assets/airbnb-cereal-font/AirbnbCereal_W_Bk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnb3';
    src: url('./assets/airbnb-cereal-font/AirbnbCereal_W_Blk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnb4';
    src: url('./assets/airbnb-cereal-font/AirbnbCereal_W_Lt.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnb5';
    src: url('./assets/airbnb-cereal-font/AirbnbCereal_W_Md.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnb6';
    src: url('./assets/airbnb-cereal-font/AirbnbCereal_W_XBd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#non-desktop-message {
    width: 80%;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

body {
    font-family: 'airbnb5', sans-serif;
}

.toggle-map-button {
    all: unset;
    position: fixed;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--coal);
    color: white;
    z-index: 102;
    font-size: 0.8rem;
    font-family: 'airbnb5';
    padding: 1rem;
    border-radius: 1.4rem;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.toggle-map-icon {
    margin-left: 0.5rem;
    font-size: 1rem;
}

.toggle-map-button:hover {
    cursor: pointer;
    transform: translateX(-50%) scale(1.05);
}


/* ! */

.basic-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.basic-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 101;
    border-radius: 1rem;
    padding: 2rem;
    font-family: 'airbnb2';
    overflow: hidden;
    max-height: 90vh;
    overflow-y: scroll;
    /* position: relative; */
}

.modify-title {
    position: sticky;
    height: 5rem;
    top: 0;
    background-color: white;
    z-index: 102; 
}

.modal-scrollable-content {
    position: relative;
    overflow-y: auto;
    max-height: calc(90vh - 5rem);
    z-index: 101;
}



/* !headers and fonts */

.header-1 {
    margin-bottom: 1rem;
    font-family: 'airbnb5';
    font-size: 24px;
}

.long-text {
    font-family: 'airbnb2';
    line-height: 1.5;
    font-size: 1rem;
}

.subheading{
    font-size: 20px;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

.close-button {
    top: 1rem;
    margin-bottom: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 102;
}

.standard-spacer {
    height: 1px;
    background-color: #cccc;
    margin: 1rem 0;
}

/* ! global aibnb styles */

.airbnb-button {
    all: unset;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 20px 0px;
    background-color: var(--brand-color);
    border-radius: 10px;
    border: none;
    color: var(--dark_grey);
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'airbnb5';
    color: white;
}

.airbnb-button:hover {
    cursor: pointer;
}


.basic-modal.success-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
