.review-modal {
    /* width: 20vw; */
    max-width: 32vw;
    max-width: calc(var(--show_width)*0.4);
    min-width: calc(400px);
}

.star-rating-selection { 
    display: flex;
    align-items: center;
}

.indv-star:hover {
    cursor: pointer;
}

.indv-star * {
    font-size: 2rem;
}

.filled {
    color: var(--brand-color)
}

.review-modal .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-modal .header-1:hover {
    cursor: pointer;
}


.review-modal textarea {
    /* width: auto; */
    width: calc(100% - 30px);
}

.review-modal button {
    width: 100%;
}

.review-modal .score-inputs {
    /* justify-content: unset; */
    justify-content: space-between;
}


.view-old-review {
    width: 100%;
    line-height: 1.5rem;
    font-family: 'airbnb2';
    font-size: 1rem;
    font-style: italic;
}