.star-rating-selection { 
    display: flex;
    align-items: center;
}

.indv-star:hover {
    cursor: pointer;
}

.indv-star * {
    font-size: 2rem;
}

.filled {
    color: var(--brand-color)
}

.review-modal .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-modal .header-1:hover {
    cursor: pointer;
}

