.review-modal {
    /* width: 20vw; */
}

.star-rating-selection { 
    display: flex;
    align-items: center;
}

.indv-star:hover {
    cursor: pointer;
}

.indv-star * {
    font-size: 2rem;
}

.filled {
    color: var(--brand-color)
}

.review-modal .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-modal .header-1:hover {
    cursor: pointer;
}


.review-modal textarea {
    /* width: auto; */
    width: calc(100% - 30px);
}

.review-modal button {
    width: 100%;
}

.review-modal .score-inputs {

    /* justify-content: space-between; */
    justify-content: unset;
}


.view-old-review {
    width: 25vw;
}
