.listing-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listing-info > div {
    padding: 30px 0;
    width: 100%;
    border-bottom: 1px solid var(--light_grey);
}

#basic-listing-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
}

.listing-under-heading {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hosted-by {
    font-size: 25px;
}

.key-listing-info {
    display: flex;
    align-items: center;
    font-family: 'airbnb2';
}

.stats-dot {
    font-size: 2px;
    margin: 0px 5px;
}


.owners-profile-pic {
    height: 60px;
    width: 60px;
}

.owners-profile-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover; 
}

.listing-description p {
    height: 200px;
    overflow: hidden;
    line-height: 1.5;
    font-family: 'airbnb4';

}

#listing-calendar {
    border: none;
}

.listing-info-calendar .calendarWrap{
    border: none;
    /* height: 400px; */
}

.listing-info-calendar .rdrCalendarWrapper {
    width: 100%;
}


