.listing-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listing-info > div {
    padding: 30px 0;
    width: 100%;
    border-bottom: 1px solid var(--light_grey);
}

#basic-listing-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
}

.listing-under-heading {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hosted-by {
    font-size: 25px;
}

.key-listing-info {
    display: flex;
    align-items: center;
    font-family: 'airbnb2';
}

.stats-dot {
    font-size: 2px;
    margin: 0px 5px;
}


.owners-profile-pic {
    height: 60px;
    width: 60px;
}

.owners-profile-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover; 
}


#listing-calendar {
    border: none;
}

.listing-info-calendar .calendarWrap{
    border: none;
    /* height: 400px; */
}

.listing-info-calendar .rdrCalendarWrapper {
    width: 100%;
}

/* ! show more descrption */

.show-more {
    display: flex;
    align-items: center;
    font-family: 'airbnb5';
}

.show-more .arrow-more {
    font-size: 1.5rem;
}

.show-more:hover {
    cursor: pointer;
}

.description-preview {
    line-height: 1.5rem;
    height: 7.5rem;
    overflow: hidden;
    font-family: 'airbnb4';
}

.elipses {
    height: 2rem;
}


/* ! description modal */
.description-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.description-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 101;
    height: 87.5vh;
    width: 42.5vw;
    border-radius: 1rem;
    padding: 2rem;
    font-family: 'airbnb2';
    overflow: hidden;
    /* overflow-y: auto; */
}

.description-container{
    height: calc(100% - 4rem);
    overflow-y: auto;
}

.close-button {
    /* position: absolute; */
    top: 1rem;
    margin-bottom: 1rem;
    /* left: 1rem; */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}


h1 {
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
    font-family: 'airbnb5';
    font-size: 24px;
}

.listing-description {
    font-family: 'airbnb2';
    margin-top: 1rem;
    line-height: 1.5;
    font-size: 1rem;
}

