.show-container {
    margin-left: var(--show_margin);
    margin-right: var(--show_margin);
    display: flex;
    justify-content: center;
}

.show-subheading {
    display: flex;
    align-items: center;
    font-family: 'airbnb2';
}

.listing-city {
    margin-right: 5px;
}
.show-rating-subheading {
    margin: 0px 3px;
}

.show-content{
    width: 100%;
}

.show-page-contents{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid var(--light_grey);
    margin-bottom: 70px;
}

.listing-left-column {
    width: 650px;
}

.listing-right-column{
    width: 370px;
}


