/* ! styles for settings div */

.calendarWrap {
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    margin: 15px 0;
}
.calendarWrap:hover {
    cursor: pointer;
}
.checkin-checkout{
    border-bottom: 1px solid #b0b0b0;
    display: flex;
}
.checkout-input {
    border-left: 1px solid #b0b0b0;
}
.select-dates-focus.focus .checkout-input{
    border: none;
}

.guests-input-container {
    display: flex;
    justify-content: space-between;
}


/* INCREMENT DECREMENT BUTTONS */

.number-input{
    margin-right: 20px;
    font-size: 18px;
    text-align: center;
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
}

#guest-decrement-button,
#guest-increment-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #b0b0b0;
    color: #b0b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: none;
}

#guest-decrement-button:hover,
#guest-increment-button:hover {
    border: 1px solid var(--dark_grey);
    color: var(--dark_grey);
    cursor: pointer;
}

#guest-decrement-button.inactive,
#guest-increment-button.inactive,
#guest-decrement-button.inactive:hover,
#guest-increment-button.inactive:hover {
    border: 1px solid var(--light_light_grey);
    color: var(--light_light_grey);
    cursor: not-allowed;
}

#guest-decrement-button.inactive:hover::before,
#guest-increment-button.inactive:hover::before {
    position: absolute;
    font-size: larger;
    z-index: 100;
}

/* SETTINGS BLOCK INPUTS */

.checkin-input{
    padding: 12.5px;
    width: 50%;
    /* border: 1px solid black; */
}
.checkout-input{
    padding: 12.5px;
    width: 50%;
    /* border: 1px solid black; */
}
.guests-input-new{
    padding: 12.5px;
    /* border: 1px solid black; */
}
/* ! inside each square */
.checkin-input div,
.checkout-input div,
.guests-input-header{
    font-size: 10px;
    font-family: 'airbnb1';
}
.checkin-input input,
.checkout-input input,
.guests-input-val {
    border: none;
    width: 100%;
    font-size: 14px;
    margin-top: 2.5px;
}
.checkin-checkout input:focus{
    outline: none;
}

.checkin-input input:hover,
.checkout-input input:hover {
    cursor: pointer;
}

/* .select-dates-focus.focus .checkin-input input:hover,
.select-dates-focus.focus .checkout-input input:hover {
    cursor: auto;
} */

/* ! css for the DateRangeReserve */

.static-container{
    position: static;
}

.select-dates-focus.focus{
    position: absolute;
    background-color: white;
    padding: 20px;
    right: -20px;
    box-shadow: var(--strong_shadow);
    border-radius: 20px;

}

.select-dates-focus.focus.static {
    position: static;
}

.select-dates-focus.focus .checkin-checkout{
    width: 300px;
    align-items: flex-end;
}


.rdrDateDisplayWrapper{
    display: none;
}

/* ! the header in the focused modal: */

.select-date-header {
    display: flex;
    justify-content: space-between;
    /* margin: 0 20px 0 40px; */
}
.select-dates{
    font-size: 25px;
    font-family: 'airbnb5';
    margin-bottom: 10px;
}


.select-date-header .calendar-modal-title {
    display: none;
}

.select-date-header.focus .calendar-modal-title {
    display: block;
    justify-content: space-between;
}

.select-date-header.focus {
    padding: 0 40px 0 20px;
}

/* ! new colours */
button.rdrDay .rdrInRange,
span.rdrStartEdge
span.rdrEndEdge{ 
    color: var(--brand-color) !important;
    background-color: var(--brand-color) !important;
}

button.rdrDay span.rdrStartEdge,
button.rdrDay span.rdrEndEdge{
    background-color: var(--brand-color) !important;
}

/* button.rdrDayHovered>span {
    border: 1px solid var(--brand-color) !important;
} */
/* button.rdrDay span.rdrDayInPreview {
    border-top: 1px solid var(--brand-color) !important;
    border-bottom: 1px solid var(--brand-color) !important;
} */

.close-calendar {
    background-color: black;
    border: none;
    color: white;
    height: 20px;
    padding: 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'airbnb5';
}
.close-calendar:hover {
    cursor: pointer;
}


.calendar-sub-buttons{
    display: flex;
    justify-content: flex-end;
}
